<div style="padding-top: 4%;">
    <h2 class="oe_slogan" style="font-size: 32px;font-weight: 900;margin-bottom:18px;">Review User Access Rights in a Single View !</h2>

    <section class="oe_container ">
        <div class="oe_row oe_spaced">
            <div class="oe_picture">
                <h3 class="oe_slogan" style="font-size: 34px;">Overview</h3>
                <p class="oe_mt32 text-justify text-center" style="text-align: center;font-size: 16px;">
                    This module allows you to see all users access rights in a single view.<br/>
                    Also you can check the access rights in certain groups by searching.<br/>
                    This is visible for users whose have access in Administration/Settings.<br/>
                    WARNING: Some columns in right side may not be visible if the theme is not responsible.<br/>
                    Then you need to search by name.
                </p>
            </div>
        </div>
    </section>

    <section class="oe_container oe_dark">
        <div class="oe_row oe_spaced">
            <div class="oe_span12" style="max-width:100%;">
                <div class="oe_row_img oe_centered">
                    <img class="oe_picture oe_screenshot" src="01.gif">
                </div>
            </div>
        </div>
    </section>

    <!--   Tags
     Odoo Access Rights Report, Odoo User access Rights, OpenERP access rights report
    -->

    <section class="oe_container oe_dark">
        <h2 class="oe_slogan" style="margin-top:20px;" >Need Support ?</h2>
        <div class="oe_slogan" style="margin-top:10px !important;">
            <div>
                Please contact to <a href="mailto:kreative.odoo@gmail.com">kreative.odoo@gmail.com</a> for support, query and further customizations.
            </div>
            <br>
            <a href="https://apps.odoo.com/apps/browse?repo_maintainer_id=233426" target="_blank">
                <img src="logo-Kreative.png" style="width: 190px; margin-bottom: 20px;" class="center-block">
            </a>
        </div>
    </section>

</div>