<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Read only user</h2>
        <h3 class="oe_slogan"> As simple as clicking on a button on the user form view.</h3>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="user_form.png">
        </div>
    </div>
</section>
<section class="oe_container oe_separator">
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan"> The user will no longer see "Create" or "Edit" buttons.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="form_sc.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan"> No create, write or unlink operation will be allowed internally.</h4>
        <div class="oe_demo oe_picture oe_screenshot">
            <img src="exception.png">
        </div>
    </div>
</section>
<section class="oe_container">
    <div>Contact Us
        <ul>
            <li>For questions related to this application, please use the following <a href="mailto:support@braintec-group.com?subject=[Odoo Apps] Question about read_only_user">email</a>.</li>
        </ul>
    </div>
    <div>This module can be tested directly using the following <a href="https://odooapps-10-demo.braintec-group.com/web?db=v10.0_read_only_user">link</a>
        <ul>
            <li>User: admin</li>
            <li>Password: admin</li>
        </ul>
    </div>
</section>
