<section class="oe_container">
    <div class="oe_row oe_spaced">
            <h2 class="oe_slogan">Balance Sheet / Profit and Loss Report in Excel</h2>
        <p class="oe_mt32">
         Make sure you have xlwt Python module installed.<br/>
<b style="color:orange;">Note: Not compatible with Odoo Enterprise (Supporting only community editions) </b>
<br/>
<b>Menu:<br/></b>
Invoicing/Reporting/PDF Reports/Balance Sheet<br/>
Invoicing/Reporting/PDF Reports/Profit and Loss<br/>

        </p>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Menu - Balance Sheet / Profit and Loss</h2>
        <br/>
        <p>
Added <b>Print in Excel</b> button in Balance Sheet / Profit and Loss Wizard. 
        </p>
        <p>
            <div class="oe_demo oe_screenshot">
                <img src="sf1.png">
            </div>
        </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Balance Sheet / Profit and Loss in Excel Format</h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="sf2.png">
                </div>
            </p>
    </div>
</section>

<hr>
<section class="oe_container">
    <div class="oe_row oe_spaced"><hr><font color="Maroon"  >
        <h2 class="oe_slogan"><b >Other Similar Apps! Click on Icon Below</b></h2>
        <div class="col-md-4">
            <p>Partner Ledger Excel</p>
            <a href="https://www.odoo.com/apps/modules/9.0/account_partner_ledger_excel" target='new'>
                <img class="img-border img-responsive thumbnail" src="account_partner_ledger_excel.png" >
            </a>
        </div>
        <div class="col-md-4">
            <p>General Ledger Excel</p>
            <a href="https://www.odoo.com/apps/modules/9.0/account_general_ledger_excel" target='new'>
                <img class="img-border img-responsive thumbnail" src="account_general_ledger_excel.png">
            </a>
        </div>
        <div class="col-md-4">
            <p>Trial Account Balance Excel</p>
            <a href="https://www.odoo.com/apps/modules/9.0/account_balance_excel" target='new'>
                <img class="img-border img-responsive thumbnail" src="account_balance_excel.png">
            </a>
        </div>
        </font>
    </div>
</section>
 <hr>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_picture" style="margin: 25px 10%;">
                <a href="http://www.probuse.com/">
                    <img src="logo.png">
                </a>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                If you need any help or want more additional features,<br/> you may contact us through:<br/>
                Email: <a href="mailto:contact@probuse.com">contact@probuse.com</a> <br/>
                Website: <a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
                Skype: mustufa_probuse<br/>
            </p>
        </div>
    </div>
</section>
 
