<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h4 class="oe_slogan">This module is base module to have excel reports as per below list.</h4>
        <ul>
            <li>Trial Balance Report in Excel Format</li>
            <li>Financial Report / P&L and B&S in Excel Format</li>
            <li>General Ledger Report in Excel Format</li>
            <li>Partner Ledger Report in Excel Format</li>
        </ul>
        <p class="oe_mt32">
            Make sure you have xlwt Python module installed.<br/>
<b style="color:orange;">Note: Not compatible with Odoo Enterprise (Supporting only community editions) </b>
</p>
<p>
Odoo Accounting Report in Excel Format: https://youtu.be/6TF1Vb-_1c8
<p>
Odoo General Ledger Report in Excel: https://youtu.be/dlAOD4tdvpA
<p>
Odoo Partner Ledger Report in Excel: https://youtu.be/zUZmFGm8VRE
<p>
Odoo Trial Balance Report in Excel: https://youtu.be/Ka3x_TmDOZc
<p>
Odoo Financial Report in Excel: https://youtu.be/jsJdohcAQCc

</p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Trial Balance Report in Excel Format</h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="tb.png">
                </div>
            </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Financial Report / P&L and B&S in Excel Format</h2>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="bs.png">
                </div>
            </p>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">General Ledger Report in Excel Format</h2>
        <br/>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="gl.png">
                </div>
            </p>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan">Partner Ledger Report in Excel Format</h2>
        <br/>
            <p>
                <div class="oe_demo oe_screenshot">
                    <img src="pl.png">
                </div>
            </p>
    </div>
</section>
<hr>
<section class="oe_container">
    <div class="oe_row oe_spaced"><hr><font color="Maroon"  >
        <h2 class="oe_slogan"><b >Individual Apps Download! Click on Icon Below</b></h2>
        <div class="col-md-3">
            <p>General Ledger Excel</p>
            <a href="https://www.odoo.com/apps/modules/9.0/account_general_ledger_excel" target='new'>
                <img class="img-border img-responsive thumbnail" src="account_general_ledger_excel.png">
            </a>
        </div>
        <div class="col-md-3">
            <p>Partner Ledger Excel</p>
            <a href="https://www.odoo.com/apps/modules/9.0/account_partner_ledger_excel" target='new'>
                <img class="img-border img-responsive thumbnail" src="account_partner_ledger_excel.png" >
            </a>
        </div>
        <div class="col-md-3">
            <p>Trial Account Balance Excel</p>
            <a href="https://www.odoo.com/apps/modules/9.0/account_balance_excel" target='new'>
                <img class="img-border img-responsive thumbnail" src="account_balance_excel.png">
            </a>
        </div>
        <div class="col-md-3">
            <p>Financial Report (P&L and B&S) Excel</p>
            <a href="https://www.odoo.com/apps/modules/9.0/account_financial_report_excel" target='new'>
                <img class="img-border img-responsive thumbnail" src="account_financial_report_excel.png">
            </a>
        </div></font>
    </div>
</section>
 <hr>

<section class="oe_container" >
    <div class="oe_row oe_spaced">
        <div class="oe_span6">
            <div class="oe_picture" style="margin: 25px 10%;">
                <a href="http://www.probuse.com/">
                    <img src="logo.png">
                </a>
            </div>
        </div>
        <div class="oe_span6">
            <p class="oe_mt32">
                If you need any help or want more additional features,<br/> you may contact us through:<br/>
                Email: <a href="mailto:contact@probuse.com">contact@probuse.com</a> <br/>
                Website: <a href="http://www.probuse.com/" target='new'><u>www.probuse.com</u></a> <br/>
                Skype: mustufa_probuse<br/>
            </p>
        </div>
    </div>
</section>

 
