<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_picture">
            <h2 class="oe_slogan" style="color:#875A7B;">
                Account Fiscal Year
            </h2>
        </div>
        <div class="oe_span12" style="font-size: large;">
        A fiscal year (FY) is a period that a company or government uses for accounting purposes and preparing financial statements. A fiscal year may not be the same as a calendar year, and for tax purposes, the Internal Revenue Service (IRS) allows companies to be either calendar-year taxpayers or fiscal-year taxpayers.<br/><br/>

        Application helps accountant/account manager to manage fiscal years, fiscal year periods and generate opening and closing entries for fiscal year.
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Key Features</h2>
        <div class="oe_span12" style="font-size: large;">
            <ul class="list-unstyled">
                <li><i class="fa fa-check text-primary"></i> Manage fiscal years and its periods.</li>
                <li><i class="fa fa-check text-primary"></i> Generating opening and closing entries for fiscal year.</li>
                <li><i class="fa fa-check text-primary"></i> Option to cancel opening entry.</li>
                <li><i class="fa fa-check text-primary"></i> Compatible with Community and Enterprise Edition.</li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Fiscal Year</h2>
        <div class="oe_span12" style="font-size: large;">
            <p>
            For instance, Fiscal Year 2018 needs to be closed.
            </p>
            <img src="fiscal_year_0_1.png" width="100%">
            <p>
            To define new fiscal year, go to <strong>Invoicing/Configuration/Periods/Fiscal Years</strong>
            </p>
            <img src="fiscal_year_1.png" width="100%">
            <p class="mt8">
            Periods can be defined in two formats: <strong>Monthly Periods</strong> and <strong>3 Months Periods</strong>
            </p>
            <p>
            For instance, to create monthly periods, click on <strong>Create Monthly Periods</strong> button.
            </p>
            <img src="fiscal_year_2.png" width="100%">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Opening Entries Accounts</h2>
        <div class="oe_span12" style="font-size: large;">
            <p>
            Define Income and Expense account for opening entries (if not created).
            </p>
            <p>
            <b>Opening Income Account</b>
            </p>
            <img src="fiscal_year_3.png" width="100%">
            <p class="mt8">
            <b>Opening Expense Account</b>
            </p>
            <img src="fiscal_year_4.png" width="100%">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Opening Entries Journal</h2>
        <div class="oe_span12" style="font-size: large;">
            <p>
            To define Opening Entries Journal, go to <strong>Invoicing/Configuration/Accounting/Journal</strong>
            </p>
            <p>
            Set previously created accounts in <strong>Default Debit Account</strong> and <strong>Default Credit Account</strong>
            </p>
            <img src="fiscal_year_5.png" width="100%">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Generating Opening Entries</h2>
        <div class="oe_span12" style="font-size: large;">
            <p>
            To generate Opening Entries, go to <strong>Invoicing/Periodic Processing/End of Period/Generate Opening Entries</strong>
            </p>
            <p>
            Click on <strong>Create</strong> button to generate openning entries.
            </p>
            <img src="fiscal_year_6.png" width="100%">
            <p>
            <b>Generated opening entries</b>
            </p>
            <img src="fiscal_year_7.png" width="100%">
            <p>
            Click on <strong>Post</strong> button to Post this journal entry.
            </p>
            <img src="fiscal_year_8.png" width="100%">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Cancel Fiscal Year Closing Entries</h2>
        <div class="oe_span12" style="font-size: large;">
            <p>
            To cancel fiscal year closing entries, go to <strong>Invoicing/Periodic Processing/End of Period/Cancel Closing Entries</strong>
            </p>
            <p>
            Enter Fiscal Year whose closing entries needs to be cancelled.<br/>
            Click on <strong>Cancel Closing Entries</strong> button to cancel closing entries.
            </p>
            <p>
            Once the closing entries are cancelled, you will no longer find opening entries for current fiscal year. To create opening entries for current fiscal year, you need to re-generate openeing entries.
            </p>
            <img src="fiscal_year_9.png" width="100%">
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Close Fiscal Year</h2>
        <div class="oe_span12" style="font-size: large;">
            <p>
            To close fiscal year, go to <strong>Invoicing/Periodic Processing/End of Period/Close a Fiscal Year</strong>
            </p>
            <p>
            Enter Fiscal Year to close.<br/>
            Click on <strong>Close Fiscal Year</strong> button to close it.
            </p>
            <img src="fiscal_year_10.png" width="100%">
            </p>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Close Period</h2>
        <div class="oe_span12" style="font-size: large;">
            <p>
            To close a period, go to <strong>Invoicing/Periodic Processing/End of Period/Close Period</strong>
            </p>
            <p>
            Click on <strong>Close Period</strong> button to close it.
            </p>
            <img src="fiscal_year_11.png" width="100%">
            </p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Free Support</h2>
        </div>
        <div class="oe_span12">
            <span>1) One month free bug support period will be offered pertaining to any one server used, testing or live.</span><br/>
            <span>2) If an error appears in our app due to other custom modules installed in your system, we will charge for our efforts to resolve those errors. </span><br/>
            <span>3) Please note that you are not allowed to distribute or resell this module after purchase. </span><br/>
            <span>4) This module is tested and working on Odoo vanilla with Ubuntu OS. </span><br/>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan"><a href="https://support.synconics.com/helpdesk/support-1/submit" style="color: #000000 !important;"> Get Help & Support</a></h2>
        </div>
        <div class="oe_slogan oe_spaced text-center">
            <a class="btn btn-success mt8" title="Get Help !" style="background-color: rgb(31, 16, 140); color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="https://support.synconics.com/helpdesk/support-1/submit"><span class="o_ripple" style="height: 61px; width: 61px; top: -12.9688px; left: -8.76562px;"></span> Help & Support </a>&nbsp;&nbsp;
            <a class="btn btn-success mt8" title="Request New Features now !" style="background-color: rgb(31, 16, 140); color: rgb(255, 255, 255) !important; position: relative; overflow: hidden;" href="http://www.synconics.com/opensource-erp-implementation-odoo-partner-india-gujarat-ahmedabad-expert-company-contact-us/"> Request New Features </a>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_slogan oe_spaced">
            <span style="font-size: 20px">Checkout Other Apps Developed By Synconics Technologies <a href="https://apps.odoo.com/apps/modules/browse?search=synconics">Click Here</a></span>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12" style="float: none;">
            <h2 class="oe_slogan"><a href="http://www.synconics.com/" style="color: #000000 !important;"> Our Services</a></h2>
        </div>
        <div class="oe_menu" style="display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-cloudhosting-installation-expert/">Odoo ERP Installation</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-version-legacy-system-migration-upgradation-expert/">Odoo ERP Migration</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-digital-stratagy-legacy-system-transformation-modernisation/">Digital Stratagy</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-module-configuration-setting-expert/">Odoo ERP configuration</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onsite-onpremise-remote-working-monthly-projectwise-dedicated-functional-technical-expert-resources/">Odoo ERP Staffing</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation-system-application-technology-selection/">Digital Technology Selection</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-module-customization-expert/">Odoo ERP Customization</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-remote-functional-training-by-expert-trainers/">Odoo Functional Training</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organisational-digital-transformation-system-application-technology-selection-implementation/">Digital Transformation Implementation</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-new-module-product-development-expert/">Odoo ERP New Module Development</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-onpremise-remote-technical-training-by-expert-trainers/">Odoo ERP Technical Training</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation-legacy-system-application-technology-migration-modernisation/">Legacy Modernization</a>
            </li>

            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-integration-e-commerce-payment-gateway-document-management-shipping-accounting/">Odoo ERP Integrations</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/odoo-opensource-erp-expert-support-services/">Odoo ERP Support</a>
            </li>
            <li class="oe_flex_li" style="flex: 0 0 30%;text-align: left;">
                <a href="http://www.synconics.com/organizational-business-process-reengineering-digital-transformation/">Organizational Transformation</a>
            </li>

        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <br/><br/>
            <span style="font-size: 20px;text-align: right;">Do not mention your query in comments. Odoo does not inform us if there is any query sent on comments, with this there might be a delay from our side to respond on your query. So please forward your query on <a href="http://www.synconics.com/opensource-erp-implementation-odoo-partner-india-gujarat-ahmedabad-expert-company-contact-us/">contact@synconics.com</a> for fast response.</span>

        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <span style="font-size: 20px">For product demo, please generate a ticket and mention your preferred time and date. Please make sure the demo timing you mentioned are as per Indian Standard Time (IST), between 10:30 AM to 7:00 PM (IST), Monday to Friday.</span>
        </div>
    </div>
</section>
