

body {
    font-size: 15px;
}

.o_sub_menu_footer {display: none!important;}

.o_sub_menu
{
    border: none; 
    background-color: #fff
}
#oe_main_menu_navbar
{
    background-color: #fff
}
.o_web_client .navbar li > a {
    font-size: 15px;
    margin-right: 20px;
}
.oe_secondary_menu_section
{
    color: #2193b0;
}


.o_list_view thead {
    font-size: 15px;
}


.o_list_view thead {
    font-size: 15px;
}

.o_web_client > .o_main .o_sub_menu .o_sub_menu_content {
    font-size: 15px;
}


.o_form_view .o_form_label {
    font-size: 15px;
}


.nav-tabs > li > a {
    margin-right: 2px;
    font-weight: bold;
}


.o_control_panel .o_cp_right {
    font-size: 12px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus
{
    background: none;
    border-left: 1px solid #fff;
}
.oe_menu_toggler:hover
{
    background: none;
    border-left: 1px solid #fff;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #ffffff;
    background-color: #2193b0;
}
.o_web_client .navbar li > a {
    font-size: 15px;
    margin-right: 20px;
    color: #fff;
}
#oe_main_menu_navbar {
    background: #2193b0;
    border: none;
    height: 41px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {

    margin-top: 5px;
}
.o_web_client > .o_main .o_main_content .o_content .o_view_manager_content 
{
    background-color: #fff;
}


.o_web_client > .o_main .o_main_content .o_control_panel {
    background-color: #fff;
}
.o_control_panel .breadcrumb {
    background-color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus
{
    color:#ffffff ;
    background-color: #2193b0;
}

.o_control_panel .o_form_buttons_view > button:first-child {
    background-color: #2193b0;
    border: 1px solid;
    border-color: #2193b0;
}
.btn-primary {
    color: #ffffff;
    background-color: #2193b0;
    border-color: #2193b0;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #2193b0;
    border-color: #2193b0;
}
.o_form_view .o_form_required.o_form_input, .o_form_view .o_form_required .o_form_input, .o_form_view .o_form_required textarea.o_form_textarea {
    background-color:  #6dd5ed;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_menu_section 
{
    color: #2193b0;
    font-size: 12px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    color: #2193b0;
}
.o_form_view .o_group .o_td_label .o_form_label {
    font-weight: normal;
    color: #2193b0;
}
.o_loading
{
    background-color: #fff;
    color: #2193b0;
}
.modal-header
{
    background-color:#2193b0 ;
    color:#fff ;
}
button.close 
{
    color: #fff;
    opacity: 1;
}
.o_form_view ul.oe_form_status li.oe_active > .label, .o_form_view ul.oe_form_status_clickable li.oe_active > .label {
    color: #fff;
    text-shadow: 0 1px 1px #2193b0, 0 -1px 1px #2193b0;
    background-color: #2193b0;
}
.o_form_view ul.oe_form_status li.oe_active, .o_form_view ul.oe_form_status_clickable li.oe_active {
    background-color: #2193b0;
    background-image: none;
}

.o_form_view ul.oe_form_status li.oe_active > .label, .o_form_view ul.oe_form_status_clickable li.oe_active > .label {
    color: white;
    text-shadow: 0 1px 1px #2193b0, 0 -1px 1px #2193b0;
    background-color: #2193b0;
    border: none;
}
.o_form_view ul.oe_form_status li.oe_active > .arrow span, .o_form_view ul.oe_form_status_clickable li.oe_active > .arrow span {

    background:none;
    background-color: #2193b0;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {

    background-color: transparent;
}
.navbar-nav .open .dropdown-menu > li > a 
{
    padding: 3px 25px;
    color: #2193b0;
}
.navbar-nav .open .dropdown-menu > li > a:hover, .navbar-nav .open .dropdown-menu > li > a:focus 
{
    background-color: #2193b0;
    color: #fff;
}
.navbar-nav .open .dropdown-menu > li > a 
{
    min-width: 100%;
}
.o_searchview {
    background-color: white;
    padding: 1px 25px 3px 5px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2193b0 ;
}
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn {
    border: none;
    border-bottom: 1px solid #2193b0 ;
}
.btn-group > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group > .btn-group:first-child:not(:last-child) > .dropdown-toggle {
    
    border: none;
    border-bottom: 1px solid #2193b0;
    border-radius: 0;
}
.btn-group > .btn-group:last-child:not(:first-child) > .btn:first-child {
    border: none;
    border-bottom: 1px solid #2193b0;
    border-radius: 0;
}
.o_searchview .o_searchview_more
{
    color: #2193b0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    color: #2193b0;
    border: none;
}
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    color: #2193b0;
    border: none;
}
.o_control_panel .o_cp_pager
{
    color: #2193b0;
}