.o_form_view .o_group.o_inner_group > tbody > tr > td.o_td_label
{
    padding: 0;
}
.o_form_view.o_form_nosheet {
    padding-left: 20px;
}
.row 
{
    margin-left: 0;
    margin-right: 0;
}
.o_form_view .o_group .o_td_label + td {
    padding: 0;
}
