.navbar 
{
    margin-bottom: 0px;
}
.nav-stacked > li
{
    min-width: 100%;
}
.o_web_client > .o_main .o_sub_menu .o_sub_menu_content .oe_secondary_submenu 
{
    padding: 0;
}
.o_form_view .o_notebook .nav-tabs > .tab-pane
{
    min-width: 100%;
}
.table-striped > tbody > tr:nth-of-type(odd)
{
    height: 26px;
    font-size: 11px;
}
.modal .modal-dialog
{
    margin-top: 0;
}
sm.o_form_button_save {
    font-size: 10px;
}
.table-striped tbody tr
{
    height: 26px;
    font-size: 11px;
}
button.btn.btn-primary.btn-sm.o_form_button_save,
button.btn.btn-primary.btn-sm.o_form_button_save,
button.btn.btn-default.btn-sm.o_form_button_create,
button.btn.btn-primary.btn-sm.o_form_button_edit ,
button.btn.btn-default.btn-sm.o_form_button_cancel,
button.btn.btn-primary.btn-sm.o_list_button_add,
button.btn.btn-sm.btn-default.o_button_import,
button.btn.btn-primary.btn-sm
{
    font-size: 10px;
}
.modal-dialog .modal-header {
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 10px;
    color: #fff;
    background: #2193b0;
}
.modal .modal-header .close 
{
    color: #fff;
    opacity: 1;
}
