
.content_info_employe .oe_form_field_image{width: 130px;height: 120px;}
.content_info_employe .oe_form_field_image img{width: 130px;height: 120px;    max-height: 140px!important;
    max-width: 140px!important;}
.content_info_employe td.oe_form_group_cell_label label,.content_info_client td.oe_form_group_cell_label label{min-width: 175px!important;}
.content_info_employe  textarea{height:90px!important;}

.content_info_reservation_ligne  td.oe_form_group_cell_label label{min-width: 80px!important;}
.content_info_reservation_ligne_bottom  td.oe_form_group_cell_label label{min-width: 140px!important;}
.content_info_reservation_ligne td.oe_form_group_cell_label label{min-width: 125px!important;}
.content_info{border:1px solid #ccc;padding:5px 10px!important;border-top: none;    font-size: 16px;font-family: serif;}

.entete{height: 35px;border-bottom: 1px solid #ccc;background-color: #F5F5F5;text-align: center;background: -webkit-linear-gradient(top,#05a8f3 0,#1d8ccb 100%);color:white;}
.openerp .oe_form td.oe_form_group_cell + .oe_form_group_cell{padding: 2px 10px 2px 8px!important;}
.content_info td{vertical-align: top!important;}
.content_info input[type="text"],  input[type="password"],  input[type="file"], select{
height: 25px!important;
}
.content_info .oe_form_field_image{width: 130px;height: 120px;}
.content_info .oe_form_field_image img{width: 130px;height: 120px;    max-height: 140px!important;
    max-width: 130px!important;}
.prix_voiture input[type="text"]{
font-size: 35px!important;height: 41px!important;
}
.prix_voiture .oe_form_field{font-size: 35px!important}

.liste_voiture_dispo table tr td{padding:0px 10px!important;}

@media (min-width: 992px)
.navbar-toggle {
    display: none!important;
}

@media (min-width: 992px){

.navbar-toggle{display: none;}

}


.table{margin-bottom: 0px!important;}
.table tr{border-bottom: 1px solid #ccc!important}
.table tr td{vertical-align:inherit!important;cursor: pointer;position: relative;}
.form-group{margin-bottom: 0px!important;}
.icon_client,.icon_employe{width: 25px;height: 25px;}
.action{padding: 0px 12px!important;}
.button_file{position: absolute;opacity: 0;width: 100%}
.buttonText{margin-left: 5px;}
input.form-control,select.form-control{height: 28px!important;border-radius: 5px!important;display: inline-block;line-height: 25px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 22px!important}
.input-group input{border-top-left-radius: 0px!important;border-bottom-left-radius: 0px!important;}
.select2-container .select2-selection--single{height: 25px!important}
.form-group.has-error label{color: black!important}
.form-group.has-success label{color: black!important}
.form-control-feedback{right: 20px;top:10px!important;}
.glyphicon-ok{color: green!important}
.has-error .form-control-feedback{right: 25px!important}
.has-success .form-control-feedback{right: 25px!important;}
select.form-control{padding: 3px 3px!important;}
.input-group-focus {
  border-radius:4px;
  -webkit-transition: box-shadow ease-in-out .15s;
          transition: box-shadow ease-in-out .15s;
}
.input-group-addon {
  -webkit-transition: border-color ease-in-out .15s;
          transition: border-color ease-in-out .15s;
}
.input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6) !important;  
}
.has-error.input-group.input-group-focus,
.has-error .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483 !important;
}
.has-warning.input-group.input-group-focus,
.has-warning .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168 !important;
}
.has-success .input-group.input-group-focus,
.has-success .input-group.input-group-focus {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b !important;
}
.input-group-focus input:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.input-group-focus .input-group-addon {
  border-color: #66afe9 !important;
}
.has-error .input-group-addon {
  border-color: #843534 !important;
}
.has-success .input-group-addon {
  border-color: #2b542c !important;
}
.has-warning .input-group-addon {
  border-color: #66512c !important;
}
table.dataTable thead > tr > th{padding-right: 10px!important;background: -webkit-linear-gradient(top,#05a8f3 0,#1d8ccb 100%);
    color: white;
    font-weight: bold;text-align: center;font-size: 14px;}
table.dataTable tfoot tr th{padding-right: 10px!important;background: -webkit-linear-gradient(top,#05a8f3 0,#1d8ccb 100%);
color: white;
font-weight: bold;text-align: center;font-size: 14px;}
table.dataTable thead > tr > th:hover{color: white}
table.dataTable tr td{padding: 5px!important;font-size: 16px!important}
.info_voiture_content{padding: 0px 20px;}
.info_voiture_content_top{width: 100%;height: 40px;border-bottom: 1px solid #ccc}
.info_voiture_content_top span{display: inline-block;height: 40px;}
.info_voiture_content_top span.marque{float: left;width: 35%;font-size: 20px;text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;}
.info_voiture_content_top span.image{float: inherit;width: 30%;text-align: center;}
.info_voiture_content_top span.matricule{float: right;width: 35%;font-size: 20px;text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;text-align: right;}
.info_voiture_content_bottom{width: 100%;height: 260px;position:relative;border: 1px solid #ccc;margin: 10px 0px;border-radius: 5px;}
.info_voiture_content_bottom div{width: 33%;height: 135px;position: absolute;padding-left: 20px;padding-top: 1px;}
.info_voiture_content_bottom .vesite_technique{top: 0;left: 0;}
.info_voiture_content_bottom div div{}
.info_voiture_content_bottom .vidange{top: 24%;left: 33%;}
.info_voiture_content_bottom .assurance{top: 0;right: 0;}
.info_voiture_content_bottom .decision_minister{bottom: 0;left: 0;}
.info_voiture_content_bottom .vignette{bottom: 0;right: 0;}
.reservation_form_client{width: 100%;height: 100%;background: rgba(0, 0, 0, 0.5);position: fixed;top: 0;left: 0;z-index: 10000;display: none}
.reservation_form_client div.reservation_form_client_content{width: 60%;height: auto;background-color: white;margin: 130px auto;box-shadow: 1px 1px 12px #eee;padding: 10px;border-radius: 5px;}
.content-facture{width: 80%;height: 700px;border:1px solid black;margin: 0px auto;background-color: white;}
.content-facture-export{width: 100%;height: 40px;background-color: #ccc}
.content-facture-titre{width: 100%!important;height: auto;padding: 10px 15px;margin: 0px auto}
.content-facture-titre-logo{width: 20%;height: 70px;}
.content-facture-titre-logo:first-child{float: left;background-image: url("../img/logoactureleft.png");background-size: 100% 100%;}
.content-facture-titre-titre{width: 60%;height: 70px;display: inline-block;}
.content-facture-titre-logo:nth-child(3){float: right;background-image: url("../img/loofactureright.png");background-size: 100% 100%;}
.content-facture-titre-titre h1{margin: 0px!important;line-height: 90%;font-size: 2.5em;}
.content-facture-titre hr{border-color: black!important;margin: 5px 0px!important}
.content-facture-titre-adresse{width: 85%;text-align: center;margin: 0px auto}
.numfcture {width: 100%;height: auto;margin-top: 20px}
.numfcture h2{display: inline-block;margin: 0px!important;font-size: 2em}
.info_client{width: 100%;height: 300px;margin-top: 10px;padding-left: 10px}
.info_client h3{text-decoration: underline;}
table.tb_detail_facture tr th{padding: 5px 5px;border: 1px solid black;padding-left: 5px;width: 150px}
table.tb_detail_facture tr td{padding: 5px 5px;border: 1px solid black;padding-left: 5px;width: 150px}
.body_100{width: 100%;height: 100%;background-color: black;display: none;position: fixed; top: 0;left: 0;z-index: 1000000;padding: 20px}
.body_100_content{width: 96%;height: auto;position:relative;padding:20px;background-color: white;margin: 0px auto;border: 1px solid black;box-shadow: 1px 1px 12px #eee;z-index: 10000000;border-radius: 10px}
.body_100 h1{margin-top: 0px!important}
.close_recherche{width:20px;height:20px;position: absolute!important;top: 0!important;right: 0!important;background-image: url("../img/popup-close.png");background-size: cover;cursor: pointer;}
.content_critere_recherche table tr td{padding: 5px 10px;}
.content_critere_recherche table tr td input[type='text']{height: 28px;width: 150px}
.content_critere_recherche{width: 100% ;border: 1px solid #ccc;padding: 5px;}
.content_critere_recherche table tr td label{cursor: pointer;margin-left: 5px;}
#form_critere_recherche div.col-md-6{padding-left: 0px!important}
.table tr{border: none!important;}
.id_reservation{display: none;}
label{margin-right: 10px;font-weight: bold!important;}
.col-md-6,.col-md-12 ,.col-md-4,.col-md-3,.col-md-9 {padding: 0px!important;}
.col-md-8 {padding-right: 15px;padding-left: 15px;}
.fichier_client{width: 370px!important;margin: 0px!important}
.fichier_client .col-lg-12{padding: 0px!important;margin: 0px!important;margin-bottom: 2px!important;}
.fichier_client input[type="text"]{width: 180px;float: right;margin-right: -5px; padding-top: 18px;}
input[type="date"]{padding: 2px 5px!important}
.fichier_client .btn{padding: 2px 12px!important;}
.content-wrapper, .right-side{min-height: 100%!important}
.close {
    font-size: 34px;
    font-weight: bold;
    line-height: 18px;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
    text-decoration: none;
    display:inline;
}
.content-popup{width: 100%;height:100%;background-color: transparent;position: fixed;z-index: 10000000;top: 0;right: 0;display: none;}
.popup{width: 59%;height: auto;margin:100px auto;border:2px solid #7D7D7D;background-color: white;border-radius: 4px;box-shadow: 1px 1px 12px #000;}
.popup-top{width: 100%;height: 40px;border-top-left-radius: 4px;border-top-right-radius: 4px;    background-image: linear-gradient(to bottom, #fcfcfc, #dedede);border-bottom: 1px solid rgb(202, 202, 202);position: relative;}
.liste_files_client{width: 170px;height: 140px;margin-right:5px;float: left;cursor: pointer;}
#form_voiture .nav> li{border-bottom: 1px solid #ccc;background-color: #F5F5F5!important;text-align: center;line-height: 30px;background: -webkit-linear-gradient(top,#05a8f3 0,#1d8ccb 100%)!important;color:white!important;font-weight: bold!important;}
#form_voiture .nav> li> a{color: white!important;padding:4px 15px!important;}
#form_voiture .nav> li.active a{color: black!important;}
.theme-whbl .nav-tabs{background-color: transparent!important;}
.input-group-addon{padding: 3px 10px!important}
#config-tool{display: none!important}
.input-group>.input-group-btn>.btn{height: 27px!important}
.close_popup{font-size: 15px;position:absolute;top:15px;right:13px;cursor:pointer;}














#result_datatable_length{display:none;}
