

.o_sub_menu_footer {display: none!important;}

/*
.btn-sm, .btn-group-sm > .btn {
    font-size: 15px;
}

.btn-sn{font-size:12px;}
*/



.nav-tabs > li > a {
    margin-right: 2px;
    font-weight: bold;
}



.button_titre_graph{
cursor: pointer;
border-radius: 5px;
padding: 5px;
font-size: 17px;
margin: 10px;
background: #fff;
border: 1px solid #006897;
color: #006897;
}


.button_titre_graph_focus,
.button_titre_graph_focus:hover,
.button_titre_graph:hover{

background: #137cc1;
border: 1px solid #006897;
color: #fff;
}

.table_critere tr td{border:none!important;}
.resultat_by{display:none;}
























