.o_database_list input, .o_database_list select 
{
	text-align:left;
}
.o_database_list
{
	height: 100vh;
    	overflow: hidden;
    background-color: transparent;
    border: none;
    opacity: 1;
    float: left;
    margin-left: 20px;
}
.text-center 
{
   	display: none;
}
.input-group>.form-control:not(:last-child), .input-group>.custom-select:not(:last-child) {

    display: none;
}
a.btn.btn-default.btn-select {
    display: none;
}
form.oe_login_form {
    margin-top: 36vh;
}
 
#background-wrapper{

    background-position: unset;

}
input#login {
    color: #fff;
border-bottom: none;
}

button.btn.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
