.form_search input[type=text] {
    width: 95%;
    padding: 3px 7px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form_search select{
    width: 95%;
    padding: 3px 7px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.content_ged_search textarea {
    width: 95%;
    padding: 5px 8px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize:none;
    margin-top: 5px!important;
}
.content_ged_search textarea[disabled]{
border: 1px solid #ccc!important;
border-radius: 5px!important;
background: #E5E5E5 !important;
color: #666;}
.content_ged_search label{
font-size: 1.1vw!important;
font-weight: bold!important;
white-space: nowrap!important;
padding-right: 8px!important;
font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif!important;
color: #4c4c4c!important;
background: white!important;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5)!important;
cursor:pointer!important;
margin-top: 8px!important;
}
.content_ged_search .td_label{
width:10%!important;
}
.content_ged_search table.dataTable thead th{
font-size: 1.1vw!important;
font-weight: bold!important;
white-space: nowrap!important;
padding-right: 8px!important;
font-family: "Lucida Grande", Helvetica, Verdana, Arial, sans-serif!important;
color: #4c4c4c!important;
background: white!important;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5)!important;
}
.content_ged_search table.dataTable{
font-size:14px!important;

}
.content_ged_search table tr{cursor: pointer!important;}
.test{width: auto!important;border: 1px solid black!important}
.div_content_document{pointer-events: none;background-color: #EBEBE4;display: none;}
.close_recherche{width:20px!important;height:20px!important;position: absolute!important;top: 0!important;right: 0!important;background-image: url("../img/popup-close.png")!important;background-size: cover!important;cursor: pointer!important;}
.content_critere{display: inline-block!important;word-wrap: break-word!important;height: auto!important;}
.critere{margin-right: 5px;margin-top: 5px;float: left}
.txtsearch{border: 2px inset transparent!important;outline: none!important;width: auto!important;margin-top: 2px!important;float: left!important;background-color: transparent!important;padding: 0 0 0px 0!important;
   line-height: 1em!important;}
.critere label{background: none!important;display: inline!important;color: white!important}
.class_user_id{display:none!important;}
.content_ged_search table td{vertical-align: middle!important;}
.div_content_document{width: 390px;min-height: 85px;padding: 5px 8px;border: 1px solid #ccc!important;padding-left: 5px!important;margin-top: 5px!important;border-radius: 3px!important;}
.title_recherche{
color: #2E55B3;
font-style: italic;
font-family: "Times New Roman", Georgia, Serif;
font-size: 2.5em;
text-shadow: 2px 2px #E2DCDC;
}
.content_ged_search .label-primary{background-color: #4c9ed9!important;}
.openerp .oe_form_sheet_width{max-width: 1120px!important;}
.oe_field_button,.oe_form_binary_file_clear{color: white!important;cursor:pointer!important;
    font-weight: bold!important;
    padding: 6px 16px!important;
    background-color: #0080b1!important;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#006489), to(#0080b1))!important;
    background-image: -webkit-linear-gradient(top, #006489, #0080b1)!important;
    background-image: -moz-linear-gradient(top, #006489, #0080b1)!important;
    background-image: -ms-linear-gradient(top, #006489, #0080b1)!important;
    background-image: -o-linear-gradient(top, #006489, #0080b1)!important;
    background-image: linear-gradient(to bottom, #006489, #0080b1)!important;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset!important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset!important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset!important;
    margin-right: 5px!important; margin-left: 5px!important;}
.oe_field_button img,.oe_form_binary_file_clear img{display:none!important;}
.oe_form_binary_file_save_data{display:none!important;}
.field_binary{width:190px!important;}
.openerp .oe_form .oe_form_group{margin: 3px 0 3px 0!important;}



